body{
  overflow: hidden;
}
#backgroundCanvas{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin: auto auto auto auto;

/*  background: linear-gradient(white,blue);*/
}
.masthead{
  z-index: 30;
  border-bottom: 1px solid white;
}
.iconss{
  white-space: pre-wrap;
  display:table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.iconRows{
  width: 1px;
  height: 1px;
/*  border: 1px solid green;*/
}

.pages{
 
/*
  background: green !important;
  background: green ;
*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
  max-height: 43vh;
  padding:50vmin 42vmin 50vmin 42vmin;
}
.pages div{
}
br{
  padding: 0;
}
.open{
  overflow: hidden;
 /* background: green !important;
  background: green ;*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
  max-height: 43vh;
  /*padding: 82vh;*/
}
.pagecont{
  overflow: auto;
  position: absolute;
/*  background: green;*/
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 2vmin;
  text-align: center;
  text-emphasis-position: right;
  /*
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-32vmin;
  margin-right:-32vmin;
  margin-top:-30vmin;
  margin-bottom:-31.7vmin;
  border-radius: 25px;
*/
}
.cont{
  overflow: hidden;
  overflow-y: hidden;
  position:relative;
  display:block;
  background: linear-gradient(rgba(224,255,255,.4),rgba(224,255,255,.4));
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-45vmin;
  margin-right:-45vmin;
  margin-top:-30vmin;
  margin-bottom:-20vmin;
  border-radius: 25px;
  left 0;
  right:10vmin;
}
span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20vmin;
  padding-left: 1vmin;
  font-size: 3.2vmin;
  font-family: 'Shrikhand', cursive;
  
}
.masthead-brand{
  font-size: 1em;
  font-weight: bold;
  
}
.rimg{
  width: 100px !important;
  height: 100px !important;
}
.clo{
  /*position: relative;*/
  
  
  width: 0;
  height: 0;
  padding: 0;
  visibility: hidden !important;
  
}
#aboutpopup{
  
}
#aboutcont{
  position: fixed;
  width: 60%;
  height: 90%;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 20vmin;
  bottom: 0;
}
.btnclass{
  background-color: transparent;
  border: none;
  font-family: 'Press Start 2P', cursive;
}.btnclass:hover{
  background-color: lightgray;
  border: none;
  font-family: 'Press Start 2P', cursive;
}
.btnclass:active{
  background-color: white;
  color:black;
  border: none;
  font-family: 'Press Start 2P', cursive;
}
.popup{
  position: fixed;
  background: red;
  width: 100%;
  height: 90%;
  z-index: 2;
  left:0;
  right:0;
  top: 20%;
  bottom: 0;
  margin: auto auto auto auto;
  min-height: 40%;
}
a.learn{

  color: #fff;
}
span.aboutadjust{
  margin-bottom: -400px;
}
@media (min-width:992px) and (max-width:1199px){
  #aboutcont{
    top:20vmin;
    
  }
  .cont{
    margin-left: -39vmin;
    right: 10vmin;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #aboutcont{
    top:30vmin;
    width: 100%;
  }
  .cont{
    right: inherit;
  }
}
@media (max-width: 767px){
  #aboutcont{
    top:88vmin;
    width: 100%;
  }
  .masthead {
    position: relative;
	z-index: 30px;
  }
  .cont{
    right: inherit;
  }
}
@media screen and (max-width: 500){
  body{
    background: blue;
  }
  #aboutcont{
    top:62vmin;
    width: 100%;
  }
}
@media (max-width:480px){
  .navtags{
    font-size: 2.4vmin !important;
  }
  #aboutcont{
    margin-top: 1vmin;
    top:65vmin;
  }
  .popup {
    margin-top: 40%;
  }
  .cont{
    right: inherit;
  }
  
}
@media (max-width:360px){
  #aboutcont{
   
    margin-top: 1vmin;
    top:69vmin;
  }
}
@media (max-width:360px) and (max-height: 568px){
  #aboutcont{
 
    margin-top: 1vmin;
    top:76vmin;
  }
}
