body{
  overflow: hidden;
}
#colormenu{
  position: fixed;
  left: 0;
  margin-left: -10vmin;
  margin-top: -10vmin;
  width: 20vmin;
  height: 20vmin;
  border-radius: 200px;
  max-height: 200px;
  z-index: 5;
}
#backgroundCanvas{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin: auto auto auto auto;

/*  background: linear-gradient(white,blue);*/
}
.masthead{
  z-index: 30;
  border-bottom: 1px solid white;
}
.iconss{
  white-space: pre-wrap;
  display:table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.iconRows{
  width: 1px;
  height: 1px;
/*  border: 1px solid green;*/
}

.pages{
 
/*
  background: green !important;
  background: green ;
*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
/*  max-height: 300px;*/
  margin-top:150px;
  max-height: 43vh;
  padding:46vmin 42vmin 50vmin 40vmin;
  text-align: center;
  border: 1px solid black;
}
.pages div{
}
br{
  padding: 0;
}
.open{
  overflow: hidden;
 /* background: green !important;
  background: green ;*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
  max-height: 43vh;
  /*padding: 82vh;*/
}
.pagecont{
  overflow: auto;
  position: absolute;
/*  background: green;*/
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 2vmin;
  text-align: center;
  text-emphasis-position: right;
  /*
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-32vmin;
  margin-right:-32vmin;
  margin-top:-30vmin;
  margin-bottom:-31.7vmin;
  border-radius: 25px;
*/
}
.cont{
  overflow: hidden;
  overflow-y: hidden;
  position:relative;
  display:block;
  background: linear-gradient(rgba(224,255,255,.4),rgba(224,255,255,.4));
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-45vmin;
  margin-right:-45vmin;
  margin-top:-30vmin;
  margin-bottom:-20vmin;
  border-radius: 10px;
/*  left: 200px;*/
/*  right:10vmin;*/
}
.span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20vmin;
  padding-left: 1vmin;
  font-size: 2.7vmin;
  font-family: 'Shrikhand', cursive;
  
}
.message_area{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
/*  margin-top: 15vmin;*/
  padding-left: 1vmin;
  font-size: 2.7vmin;
  font-family:sans-serif;
  
  
}
.input_cont{
  
  width: 19vmin;
  border-radius: 1vmin;
}

.input_cont>input {
  width: 22vmin;
  border-radius: 1vmin;
}
.input_cont>textarea {
  width: 22vmin;
  border-radius: 1vmin;
}
.input_cont>.helper_txt {
  position: absolute;
  height: 1vmin;
  font-size: 2vmin;
  transform:  translate(.6px,-3px) scale(.5,.5);
  z-index: 30;
  
}
.input_cont>.error_txt {
  position: absolute;
  height: 1vmin;
  font-size: 2vmin;
  transform:  translate(15vmin,-1vmin) scale(1,1);
  
  z-index: 30;
}
.closebtn {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  right:10vmin;
  top: -7vmin;
  float: right;
}
.masthead-brand{
  font-size: 1em;
  font-weight: bold;
  
}
.rimg{
  width: 100px !important;
  height: 100px !important;
}
.clo{
  /*position: relative;*/
  
  
  width: 0;
  height: 0;
  padding: 0;
  visibility: hidden !important;
  
}
#aboutpopup{
  
}
#aboutcont{
  position: fixed;
  width: 60%;
/*  height: 90%;*/
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 20vmin;
  bottom: 0;
}
.btnclass{
  background-color: transparent;
  border: none;
  font-family: 'Shrikhand', cursive;
}.btnclass:hover{
  background-color: lightgray;
  border: none;
  font-family: 'Shrikhand', cursive;
}
.btnclass:active{
  background-color: white;
  color:black;
  border: none;
  font-family: 'Shrikhand', cursive;
}

.iconimgs{
  width: 10vmin;
  height: 10vmin;
}
.linktable{
  position: absolute;
  width: 35%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  
}
.links{
  width: 10vmin;
  height: 10vmin;
  
}
.linktr{
  position: relative;
  padding-left: 5vmin;
  margin-right: 30px;
}
.popup{
  
  position: fixed;
  background: red;
  width: 100%;
  height: 100%;
  z-index: 2;
  left:0;
  right:0;
/*  top: 18%;*/
  top: 0;
  bottom: 0;
  margin: auto auto auto auto;
/*  min-height: 40%;*/
}
a.learn{

  color: #fff;
}
span.aboutadjust{
  margin-bottom: -400px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
/*  IE FIX HERE*/
}
@media (min-width:992px) and (max-width:1199px){
  #aboutcont{
    top:20vmin;
    
  }

  .cont{
    margin-left: -39vmin;
    right: 10vmin;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  body{
/*    background: pink;*/
  }
  #aboutcont{
    
    width: 100%;
  }
  .cont{
    right: inherit;
  }
  .pages{
    margin-top: inherit;
  }
}
@media (max-width: 900px){
  .pages {
  margin-top:inherit;
  }
}
@media (max-width: 767px){
  #aboutcont{
    top:60vmin;
    width: 100%;
    overflow-x: scroll;
  }
  .aboutadjust{
    position: relative;
    overflow-x: scroll;
    background: green;
    font-size: 3.2vmin;
    top: -60px;
    margin-bottom: 20vmin;
  }
  .pagecont {
    overflow: scroll;
  }
  .masthead {
    position: relative;
	z-index: 30px;
  }
  .cont{
    right: inherit;
  }
}
@media screen and (max-width: 500){
  
  #aboutcont{
    top:62vmin;
    width: 100%;
  }
}
@media (max-width:480px){
  .navtags{
    font-size: 2.4vmin !important;
  }
  #aboutcont{
    margin-top: 1vmin;
    top:65vmin;
  }
/*
  .popup {
    margin-top: 40%;
  }
*/
  .cont{
    right: inherit;
  }
  
}
@media (max-width:360px){
  #aboutcont{
   
    margin-top: 1vmin;
    top:86vmin;
  }
  .pagecont{
    overflow: scroll;
  }
}
@media (max-width:360px) and (max-height: 568px){
  #aboutcont{
    margin-top: 1vmin;
    top:76vmin;
  }
}

