body{
  overflow: hidden;
}
.masthead{
  z-index: 30;
  border-bottom: 1px solid white;
}
.pages{
 
/*
  background: green !important;
  background: green ;
*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
  max-height: 43vh;
  padding:50vmin 42vmin 50vmin 42vmin;
}
.pages div{
}
br{
  padding: 0;
}
.open{
  overflow: hidden;
 /* background: green !important;
  background: green ;*/
/*  display: inline-flex;*/
  width: 100%;
  height: 100%;
  max-height: 43vh;
  /*padding: 82vh;*/
}
.pagecont{
  overflow: auto;
  position: absolute;
/*  background: green;*/
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 2vmin;
  text-align: center;
  text-emphasis-position: right;
  /*
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-32vmin;
  margin-right:-32vmin;
  margin-top:-30vmin;
  margin-bottom:-31.7vmin;
  border-radius: 25px;
*/
}
.cont{
  overflow: hidden;
  overflow-y: hidden;
  position:relative;
  display:block;
  background: linear-gradient(rgba(224,255,255,.4),rgba(224,255,255,.4));
  padding-right: 32vmin;
  padding-left: 32vmin;
  padding-top: 32vmin;
  padding-bottom: 32vmin;
  margin-left:-45vmin;
  margin-right:-45vmin;
  margin-top:-30vmin;
  margin-bottom:-20vmin;
  border-radius: 25px;
  left 0;
  right 0;
}
span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20vmin;
  padding-left: 1vmin;
  font-size: 4.2vmin;
  font-family: 'Dancing Script', cursive;
  
}
.masthead-brand{
  font-size: 1em;
  font-weight: bold;
  
}
.rimg{
  width: 100px !important;
  height: 100px !important;
}
.clo{
  /*position: relative;*/
  
  
  width: 0;
  height: 0;
  padding: 0;
  visibility: hidden !important;
  
}
#aboutpopup{
  
}

.popup{
  position: fixed;
  background: red;
  width: 100%;
  height: 90%;
  z-index: 2;
  left:0;
  right:0;
  top: 20%;
  bottom: 0;
  margin: auto auto auto auto;
  min-height: 40%;
}

@media (max-width: 767px){
  .masthead {
    position: relative;
	z-index: 30px;
  }
}

@media (max-width:480px){
  .popup {
    margin-top: 40%;
  }
  
}